<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  	  <!-- settings -->
  	  <settings>
  		  <setting name="mapUnderscoreToCamelCase" value="true" />
	  </settings>
	  
	  <!-- typeAliases -->
	  <typeAliases>
  		  <typeAlias alias="FastOrderDetailDTO" type="com.gdu.veggiemeal.domain.FastOrderDetailDTO" />
  		  <typeAlias alias="OrderTblDTO" type="com.gdu.veggiemeal.domain.OrderTblDTO" />
  		  <typeAlias alias="SleepPersonDTO" type="com.gdu.veggiemeal.domain.SleepPersonDTO" />
  		  <typeAlias alias="LeavePersonDTO" type="com.gdu.veggiemeal.domain.LeavePersonDTO" />
  		  <typeAlias alias="QnaDTO" type="com.gdu.veggiemeal.domain.QnaDTO" />
  		  <typeAlias alias="QnaAnswerDTO" type="com.gdu.veggiemeal.domain.QnaAnswerDTO" />
  		  <typeAlias alias="RecommandDTO" type="com.gdu.veggiemeal.domain.RecommandDTO" />
  		  <typeAlias alias="CartDetailDTO" type="com.gdu.veggiemeal.domain.CartDetailDTO" />
  		  <typeAlias alias="CartTblDTO" type="com.gdu.veggiemeal.domain.CartTblDTO" />
  		  <typeAlias alias="RImgDTO" type="com.gdu.veggiemeal.domain.RImgDTO" />
  		  <typeAlias alias="PImgDTO" type="com.gdu.veggiemeal.domain.PImgDTO" />
  		  <typeAlias alias="SaleDTO" type="com.gdu.veggiemeal.domain.SaleDTO" />
  		  <typeAlias alias="PersonDTO" type="com.gdu.veggiemeal.domain.PersonDTO" />
  		  <typeAlias alias="ProductDTO" type="com.gdu.veggiemeal.domain.ProductDTO" />
  		  <typeAlias alias="RecipeDTO" type="com.gdu.veggiemeal.domain.RecipeDTO" />
  		  <typeAlias alias="RecipeReplyDTO" type="com.gdu.veggiemeal.domain.RecipeReplyDTO" />
	  </typeAliases>
	  
</configuration>